* { padding: 0; border: 0; margin: 0; box-sizing: border-box; }

body {
  background: rgb(47,47,47);
  color: #eee;
  height: 100vh;
}

.page-wrap {
  display: grid;
  justify-content: center;
  text-align: center;
}

header {
  margin: 30px 0;
}

main {
  margin-top: 40px;
  opacity: 0;
  transition: 200ms opacity 300ms ease-out;
  display: grid;
  justify-items: center;
  gap:20px;
}

.show {
  opacity: 1;
}

.step {
  font-size: 2rem;
  color:rgb(97, 197, 255);
}

.wrap1 {
  display: flex;
}

.wrap1 label {
  margin: 0 10px;
}

.wrap2 {
  display: flex;
  gap:10px;
}

.wrap2 button {
  padding:10px;
  border-radius: 5px;
  cursor: pointer;
  background: #fff;
}

.wrap2 button:hover {
  background:#67a9ff;
}

.highscore-wrap {
  color:#212121;
  background:#67a9ff;
  border:4px solid #fff;
  position: fixed;
  display: block;
  width:400px;
  height:550px;
  overflow-y: auto;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  padding:20px;
}

.highscore-wrap ul li {
  margin: 5px 0;
  font-size: 20px;
  list-style: none;
}

.hide {
 display: none;
}

#tile-count {
  cursor: pointer;
}

#canvas {
  display: none;
}

#imgOut {
  display: none;
}

#imgInp {
  border: 1px solid white;
}

#board {
  display: grid;
  width: 540px;
  height: 540px;
  cursor: pointer;
  border:20px solid #fff;
  border-radius: 10px;
}

#resized-image {
  height:350px; width:350px;
}

.grid-size16{
  grid-template-columns: repeat(4, auto);
}

.grid-size25{
  grid-template-columns: repeat(5, auto);
}

.grid-size36{
  grid-template-columns: repeat(6, auto);
}

/* How to play section */
.intro {
  font-size: 1.5rem;
  border: 3px solid #fff;;
  padding:40px;
  display: grid;
  margin-top: 20%;
  background-color: #222;
  justify-items: center;
  transition: opacity 400ms ease-in;
  opacity: 1;
}

.hide-intro {
  opacity: 0;
  display: none;
}

.intro ul li {
  text-align: left;
  list-style: none;
  margin: 20px 0;
}

.intro button {
  padding:10px 40px;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 6px;
  margin-top: 40px;
}

.intro button:hover {
  background-color: #67a9ff;
}

.winMessage {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  box-shadow: 4px 4px 6px #111;
  padding:20px;
  z-index: 9999;
  position: absolute;
  bottom:20px;
  left:50%;
  transform: translate(-50% , 0);
  border-radius: 5px;
}